.flex {
  display: flex !important;
}
.underline {
  text-decoration: underline !important;
}
.pointer {
  cursor: pointer !important;
}
.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
.table-cell {
  margin: 10px;
  padding: 10px;
}
