<div class='relative'>
  <div class='flex relative l-tbl-row'>
    <div class='cell-width text-center pointer underline name-cell l-tbl-row__cell' (click)="selectItem()">{{oddDetail.name}}</div>
    <div *ngFor="let max of max_details; let i = index" class='flex cell-width-double text-center'>
      <div (mouseenter) = "showHoverTable($event, 'back_all', i)" (mouseleave) = "hideHoverTable()" class='underline pointer o-max-cell text-center l-tbl-row__cell'>{{max.back_all}}</div>
      <div (mouseenter) = "showHoverTable($event, 'lay_all', i)" (mouseleave) = "hideHoverTable()" class='underline pointer o-max-cell text-center l-tbl-row__cell'>{{max.lay_all}}</div>
    </div>
  </div>
</div>
